<ngx-spinner bdColor="rgba(51, 51, 51, 0.47)" size="medium" color="#fff" type="line-spin-clockwise-fade"></ngx-spinner>

<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Password Recovery</h3>
                    </div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Enter your email address and we will ask you a security
                            question to reset your password.</div>
                        <form>
                            <div >
                                <div class="form-group"><label class="small mb-1"
                                        for="inputEmailAddress">Email</label><input class="form-control py-4" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                                        id="inputEmailAddress" type="email" 
                                        placeholder="Enter email address" /></div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"
                                    (click)="forget_password_1()"><a class="small">Verify Email</a></div>
                            </div>
                            <div >
                                <div class="form-group"><label class="small mb-1" for="inputQues">Question</label><input
                                        class="form-control py-4" id="inputQues" type="text" [(ngModel)]="security_question" [ngModelOptions]="{standalone: true}"
                                        placeholder="Question Will be shown here" disabled="true"
                                        /></div>
                                <div class="form-group"><label class="small mb-1" for="inputAns">Answer</label><input 
                                        class="form-control py-4" id="inputAns" type="text"
                                        placeholder="Enter security answer" /></div>

                            </div>
                            <div >
                                <div class="form-group"><label class="small mb-1" for="npass">New Password</label><input
                                        class="form-control py-4" id="npass" type="password" [(ngModel)]="npassword" [ngModelOptions]="{standalone: true}"
                                        placeholder="" 
                                         /></div>
                                <div class="form-group"><label class="small mb-1" for="cpass">Confirm Password</label><input [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}"
                                        class="form-control py-4" id="cpass" type="password"
                                        placeholder="" /></div>

                            </div>

                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a
                                    class="small" routerLink="/auth/login">Return to login</a><a class="btn btn-primary"
                                     routerLink="/auth/login">Reset Password</a></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>