<!-- <sb-background> -->
    <!-- <sb-dashboard-head title="Tables" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">The table below is adapted from ng-bootsrap. For more information, please visit the <a
                target="_blank" href="https://ng-bootstrap.github.io/#/components/table/overview">ng-bootstrap table
                documentation</a>.</div>
    </sb-card> -->
    <div style="text-align:center; display: none;">
        <div>
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"></webcam>
            <br />
            <!-- <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div> -->
        </div>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4>Exam</h4><span>({{exam_detail.length}})</span>
                        </div>
                    </div>
                    <div *ngFor="let e of exam_detail; let i = index" class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row align-items-center question-title">
                            <h3 class="text-danger">Q. {{i+1}}</h3>
                            <h5 class="mt-1 ml-2">{{e.question}}</h5>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input (change)="onItemChange($event.target.value, i)" type="radio" name="{{e.question}}" value="{{e.optionA}}"> <span>{{e.optionA}}</span>
                            </label>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input (change)="onItemChange($event.target.value, i)" type="radio" name="{{e.question}}" value="{{e.optionB}}">
                                <span>{{e.optionB}}</span>
                            </label>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input (change)="onItemChange($event.target.value, i)" type="radio" name="{{e.question}}" value="{{e.optionC}}">
                                <span>{{e.optionC}}</span>
                            </label>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input (change)="onItemChange($event.target.value, i)" type="radio" name="{{e.question}}" value="{{e.optionD}}"> <span>{{e.optionD}}</span>
                            </label>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button
                            class="btn btn-primary border-success align-items-center btn-success" (click)="submit_exam()" type="button">Submit<i
                                class="fa fa-angle-right ml-2"></i></button></div>
                </div>
            </div>
        </div>
    </div>
<!-- </sb-background> -->