<sb-background>
    <!-- <sb-dashboard-head title="Tables" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">The table below is adapted from ng-bootsrap. For more information, please visit the <a
                target="_blank" href="https://ng-bootstrap.github.io/#/components/table/overview">ng-bootstrap table
                documentation</a>.</div>
    </sb-card> -->
    <div style="text-align:center">
        <div>
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"></webcam>
            <br />
            <!-- <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div> -->
        </div>
    </div>

    <sb-test-component></sb-test-component>
    <h1>TEST</h1>
</sb-background>