<ngx-spinner bdColor="rgba(51, 51, 51, 0.47)" size="medium" color="#fff" type="line-spin-clockwise-fade"></ngx-spinner>
<sb-layout-dashboard>
    <sb-dashboard-head title="Subject Details" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <h3>Incomming Exam</h3>
    <button *ngIf="incomming_exam.id" (click)="go_to_exam(incomming_exam)" type="button" class="btn btn-link">{{incomming_exam.name}}</button>
    <h3>All Subjects</h3>

    <div class="bs-example">
        <div class="accordion" id="accordionExample">
            <div *ngFor="let s of subjects" class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button (click)="get_detail(s.id)" type="button" class="btn btn-link" data-toggle="collapse"
                            data-target="#collapseOne">{{s.name}}</button>
                    </h2>
                </div>
            </div>
            <div class="card-body" *ngIf="result">
                <p>Exam Date: {{subject_detail_array.exam_details.exam_date}} </p>
                <p>Exam Time: {{subject_detail_array.exam_details.exam_time}} </p>
                <p>Instructions: {{subject_detail_array.exam_details.instructions}} </p>
                <p>Time Allowed: {{subject_detail_array.exam_details.time_allowed}} </p>

            </div>
        </div>
    </div>
</sb-layout-dashboard>