<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; ACES 2021</div>
            <div>
                <a href="mailto:syedahmedali08@gmail.com" style="color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;"
                >Contact Us</a>
            </div>
            <div>
                <a style="color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;"
                    (click)="swall('p')">Privacy Policy &middot;</a>

                <a style="color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;"
                    (click)="swall('t')">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>